html {
    background-image: url("../images/backgrounds-blank-blue-953214.jpg");
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
/* GAME HEADER  */

#game-header {
    background-color: #132E32;
    opacity: .75;
    width: 100%;
    text-align: center;
    color: #53A2BE;
    font-size: 75px;
    margin-top: 15px;
    padding: 15px;
    box-shadow: 12px 12px 10px black;
}

/* RULES */

.rules-container{
    margin: 15px auto;
    width: 400px;
    background-color: #0A2239;
    color: #53A2BE;
    font-size: 15px;
    opacity: .75;
    padding: 10px;
    box-shadow: 12px 12px 10px black;
}

/* SCORE */

.score-wrapper {
    margin: auto;
    width: 410px;
    opacity: .75;
}

/* SCORE BOARD */

#comp-score{
    line-height: 55px;
    float: left;
    background-color: #176087;
    color: rgba(255, 255, 255, 0.75);
    font-size: 40px;
    width: 150px;
    text-align: center;
    padding: 10px;
    margin-right: 40px;
    margin-bottom: 15px;
    box-shadow: 13px 12px 11px black;
}

#game-board {
    float: left;
    background-color: #176087;
    color: rgba(255, 255, 255, 0.75);
    font-size: 18px;
    width: 150px;
    text-align: center;
    padding:10px;
    height: 60px;
    line-height: 20px;
    margin-bottom: 15px;
    box-shadow: 13px 12px 11px black;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
    overflow: hidden;
  }

/* JEWELS BUTTONS */

.jewels {
        margin: auto;
        width: 340px;
        opacity: .75;
        width: 420px;
    }

.btn {
    float: left;
    height: 85px;
    width: 80px;
    margin-left: 20px;
    box-shadow: 12px 12px 10px black;
    margin-bottom: 15px;
}

/* SCORE BOX */
.score-box {
    margin: 0px auto;
    width: 400px;
    background-color: #0A2239;
    color: #53A2BE;
    opacity: .75;
    padding: 10px;
    line-height: 10px;
    text-align: center;
    box-shadow: 12px 12px 10px black;
}

#total-score{
    margin: 20px;
    padding: 5px;
    margin-right: 170px;
}

#your-score-box {
    margin-top: 35px;
    font-size: 40px;
    padding: 20px;
}
}